<body>
  <div class="container">
    <img src="/assets/images/CEPAlogo2-removebg-preview.png" alt="CEPA Logo" class="logo">
    <h2>Submit Feedback for</h2>
    <h3>{{ eventName }}</h3> <!-- Display the event name prominently -->
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="form-group">
        <label for="feedback">Feedback / Reflection</label>
        <textarea formControlName="feedback" class="form-control" placeholder="Enter your feedback"></textarea>
      </div>
      <div class="form-group">
        <label for="attendanceProof">Proof of Attendance (Image)</label>
        <input #fileInput type="file" formControlName="attendanceProof" class="form-control-file" >
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="goBack()">Back</button> <!-- Back button -->
    </form>
  </div>  
</body>
